@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family:"sovereign" ;
    src: url(./assets/Font/Sovereign.otf) format("opentype"),url(./assets/Font/Sovereign.ttf) format(truetype);
    font-weight: 400;
}
@font-face {
    font-family: "Libertad-Medium";
    src: url(./assets/Font/Libertad-Medium.otf) format("opentype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow:overlay;
}
body::-webkit-scrollbar {
    width: 1vw;
    background:transparent ;
}
body::-webkit-scrollbar-track {
    position: fixed;
    background:rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-thumb {
    background-color: #0000007e;
    border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgba(215, 68, 48,0.75);
  }
.f-open-sans{
    font-family:'Open Sans';
    font-weight: 400;
    letter-spacing: 0px;
}
.section-title{
    font-size: 2.604vw;
    font-family: "sovereign";
    font-weight: 400;
    color: #fff;
    text-align: right;
}
.header-container {
    width: 100%;
    height: 43.489vw;
    display: flex;
    position: relative;
    background-image: url("assets/star uó topo.png");
    background-repeat: no-repeat;
    background-position:center; 
    background-size: cover;
}
.img-name-star {
    width: 23.802vw;
    position: absolute;
    top:23.593vw;
    left: 19.062vw;
}
.img-name-wars {
    width: 26.093vw;
    position: absolute;
    top:23.593vw;
    right: 9.114vw;
    
}
.img-kylo {
    width: 70.468vw;
    position: absolute;
    top: 0;
    left: 9.99vw;
    z-index: 1;
}
.img-star-wars {
    width: 26.1vw;
}
.img-legion {
    width: 9.1vw;
    position: absolute;
    bottom: 0;
    right: 11.6%;
}

.section-start-game{
    width: 100%;
    height: 75vw;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("./assets/sta\ uo\ robot.png");
    background-size: 42.369vw 101.58%;
    background-repeat: no-repeat;
}
.container-start-game{
    width: 78.229vw;
    height: 33.072vw;
    border-bottom:#707070 0.260vw solid;
    padding: 0 0 5.572vw 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    top: 0;
    left: 14.479vw;
}
.start-game-box{
    width: 20.729vw;
    height: 30.416vw;
    display: flex;
    position: absolute;
    bottom:5.512vw;
    flex-direction: column;
    align-items: flex-end;
    background-image: url("./assets/strom trupe red.png");
    background-size: 100%;
    z-index: 1;
}
.start-game-text-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.start-game-title{
    width:10.677vw;
    position: absolute;
    top:04.166vw;
    font-size: 2.604vw;
    font-weight:600;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    
}
.start-game-txt{
    width: 17.343vw;
    position: absolute;
    top: 14.895vw;
    font-size: 1.041vw;
    font-weight: 300;
    line-height: 1.406vw;
    vertical-align:top;
    color:#fff;
}
.dwonload-start-game-btn{
    width: 10.416vw;
    height: 2.604vw;
    border: 0.104vw solid #FFFFFF;
    position: absolute;
    top: 22.708vw;
    border-radius: 5px;
    font-size: 1.041vw;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
}
.footnote{
    width: 06.354vw;
    position: absolute;
    top: 26.718vw;
    font-size: 00.520vw;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 0.885vw;
    text-align: left;
    color:#FFFFFF;
}
.box-aboult-the-game{
    width: 49.479vw;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
    bottom:5.512vw;
}
.box-aboult-the-game img{
    width: 20.729vw;
    height: 12.968vw;
    margin: 0.520vw 0 0 0;
}
.title-about-the-game{
    width: 11.250vw;
    font-size: 1.562vw;
    font-weight: 700;
    line-height: 2.135vw;
    text-align: left;
    text-transform: uppercase;
}
.txt-box-about-the-game{
    margin: 0 0.833vw 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.txt-about-the-game{
    font-size: 1.041vw;
    line-height: 1.406vw;
    text-align: right;
}
.line-about-the-game{
    width: 9.114vw;
    height: 0px;
    border: 0.078vw #000 solid;
}
.contaoner-game-structure{
    width: 78.229vw;
    height: 41.927vw;
    position: relative;
    left: 14.479vw;
}
.img-lord-sifh{
    width: 44.062vw;
    position: absolute;
    top: 1.406vw;
    left: 0;
}
.box-game-structure{
    width: 26.927vw;
    height: 29.479vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: 4.791vw;
    right: 21.562vw;
}
.game-structure-title{
    width: 20.625vw;
    font-size: 3.645vw;
    font-family: "Libertad-Medium";
    font-weight:400 ;
    line-height: 3.645vw;
    text-align: right;
    text-transform: uppercase;
    color:#000000;
}
.game-structure-blonder-title{
    font-family: "sovereign";
    font-size: 3.645vw;
    font-weight:400;
    line-height: 3.645vw;
    text-align: right;
    text-transform: uppercase;
    color:#000000;
}
.game-structure-list-txt{
    width: 100%;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.562vw;
    line-height: 2.135vw;
    text-align: right;
}
.game-structure-list-txt:hover{
    background-color: #D74430;
}
.img-rey{
    width: 20.729vw;
    position: absolute;
    top: 6.302vw;
    right: 0;
}
.attributes-section{
    width: 100%;
    padding: 9.296vw 7.291vw 8.984vw 7.291vw;
    height: 122.135vw;
    background-color: #2D2D2D;
}
.attributes-title{
    width: 14.479vw;
    margin: 0 0 4.218vw 7.240vw;
    font-size: 2.604vw;
    font-family: "sovereign";
    font-weight: 400;
    color: #fff;
    text-align: right;
}
.Container-figures{
    width: 85.416vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 85.416vw;
    flex-wrap: wrap;
    min-height: 26.145vw;
}
.Container-figures figure{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Container-figures figure:first-child{
    grid-column: span 2;
    grid-row: span 2 ;
}
.Container-figures figure img{
    width: 100%;
    height: 100%;
}
.Container-figures figure:first-child .top-edge-of-the-box{
    width: 6vw;
    height: 6vw;
    border:none;
    border-top: 3px #fff solid;
    border-left: 3px #fff solid;
}
.info-box{
    transition: 0.25s;
    width: 106%;
    height: 107%;
    display: flex;
    height: 107%;
    padding: 8.953% 0 4.186% 4.5%;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    background-color: #d74330bb;
    scale: 0.8;
    opacity: 0;
}
.Container-figures figure:hover .info-box{
    scale: 1;
    opacity: 1;
}
.top-edge-of-the-box{
    width: 3vw;
    height: 3vw;
    border:none;
    border-top: 3px #fff solid;
    border-left: 3px #fff solid;
    position: absolute;
    top: 6.5%;
    left: 4.5%;
}
.Container-figures figure:first-child .title-to-info-box{
    font-size: 2.302vw;
    line-height: 2.354vw;
    letter-spacing: 0.75px;
}
.title-to-info-box{
    width: 6.406vw;
    margin: 0 0 0 9.293%;
    font-family: "sovereign";
    font-size: 1.302vw;
    color: #fff;
    letter-spacing: 0.75px;
    line-height: 1.354vw;
    text-transform: uppercase;
}
.Container-figures figure:first-child .info-box-txt{
    width: 70%;
    font-size: 1.381vw;
    line-height: 1.441vw;
}
.info-box-txt{
    width: 17.343vw;
    margin: 0 0 0 9.479%;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 0.781vw;
    line-height: 1.041vw;
    color: #fff;
    letter-spacing: 0;
}
.Container-figures figure:first-child .info-box-btn{
    width: 18.062vw;
    height: 4.604vw;
    font-size: 2.041vw;
}
.info-box-btn{
    width: 9.062vw;
    height: 2.604vw;
    border: 3px solid #fff;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 1.041vw;
    letter-spacing: 0.75px;
    line-height: 1.354vw;
    color: #fff;
    background-color: transparent;
}
.bottom-edge-of-the-box{
    width: 3vw;
    height: 3vw;
    border:none;
    border-bottom: 3px #fff solid;
    border-right: 3px #fff solid;
    position: absolute;
    bottom: 6.5%;
    right: 4.5%;
}
.hierarchy-box{
    margin: 3.281vw 0 8.723vw 0;
    width: 85.416vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.hierarchy-box img{
    width: 100%;
}
.sub-text-figure{
    width: 42.291vw;
    margin: 1.302vw 0 0 0;
    font-size: 1vw;
    font-family: "Open Sans";
    font-weight: 200;
    text-align: end;
    letter-spacing: -0.020vw;
    line-height: 1.406vw;
    color: #fff;
}
.how-to-play-title{
    width: 19.791vw;
    margin: 0 0 0 35.937vw;
}
.How-to-Play-section{
    height: 22.604vw;
    margin: 0 0 7.5vw 0;
    padding: 4.843vw 7.291vw 2.317vw 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.redirect-button-box{
    height: 15.104vw;
    margin:0 0 0 8.02vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.redirect-button-box:hover .num-of-redirect{
    font-weight: 800;
}
.num-of-redirect{
    font-size: 2.604vw;
    transition: 0.5s;
}
.btn-of-redirect{
    width: 13.541vw;
    height: 3.645vw;
    border:none;
    border-right:2px solid black;
    border-left:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    background-color: #000;
    z-index: 1;
    
}
.p-btn-redrect{
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 1.562vw;
    z-index: +2;
}
.btn-of-redirect::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #d74430;
    transition: 0.5s;
}
.redirect-button-box:hover .btn-of-redirect::after{
    width: 100%;
    z-index: 1;
}
.p-of-redirect{
    font-size: 1.041vw;
    text-align: center;
}
.line-of-redirect{
    width: 38.461%;
    height: 0vw;
    position: relative;
    top: 0;
    border: 2px solid #000;
    background-color: #000;
    transition: 0.5s;
}
.redirect-button-box:hover .line-of-redirect{
    top: 3px;
    border: 2px solid #D74430;
    background-color: #D74430;
}
.stortm_trooper-img{
    width: 27.968vw;
    position: absolute;
    left: 7.239vw;
    bottom: 2.317vw;
}
.footer-reports{
    width: 63.958vw;
    height:45.937vw;
    padding:6.848vw 21.562vw 2.291vw 14.479vw ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FF5A56;
}
.footer-title-apps{
    width: 15.260vw;
    margin:0 0 3.411vw 0;
}
.app-link-box{
    width: 27.942vw;
    display: flex;
    justify-content: space-between;
}
.txt-apps{
    width: 27.916vw;
    height: 5vw;
    margin: 0 0 0.885vw 0;
    font-size: 1.041vw;
    font-weight: 300;
    color: #fff;
    line-height: 1.406vw;
    letter-spacing: 0px;
}
.img-link-apps{
    width: 13.541vw;
}
.footer-dividing-line{
    width: 100%;
    border:solid 0.13vw #D74430 ;
    background-color: #D74430;
}
.img-title-star-wars{
    width: 13.437vw;
    margin:0 0 1.562vw 0;
}
.footer{
    position: relative;
}
.darth_vader-img{
    width: 39.375vw;
    position: absolute;
    right: 7.291vw;
    bottom: 2.306vw;
}
.copyright-p{
    width: 19.479vw;
    position: absolute;
    right: 9.687vw;
    bottom: 2.291vw;
    font-size: 0.781vw;
}